div:has(> form) {
    background-image: url('https://image.thanhnien.vn/w1024/Uploaded/2022/mffsm/2022_06_29/img-0130-398.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  form {
    max-width: 500px;
    min-width: 400px;
    background-color: slategray;
    opacity: 0.9;
    margin: auto auto;
    padding: 10px 0;
    border-radius: 6px;
    box-shadow: 5px 5px 8px #888888;
  }
  
  form h1 {
    margin: 0;
    text-align: center;
    color: white;
  }
  
  input {
    all: unset;
    display: block;
    background-color: white;
    width: 200px;
    margin: 10px auto;
    border-radius: 4px;
    padding: 4px 6px;
  }
  
  input::placeholder {
    color: gray;
  }
  
  button {
    display: block;
    margin: auto;
    width: 212px;
    padding: 4px 6px;
    border-radius: 4px;
    border: none;
    transition-duration: 0.2s;
  }
  
  button:hover {
    cursor: pointer;
    transform: translateY(-1px);
  }
  
  p {
    font-size: 0.75rem;
    text-align: center;
    color: white;
  }
  
  span {
    color: black;
    font-weight: 600;
  }
  
  span:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }